<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.rroundtable.sd.agenda</string>
  <key>CFBundleName</key>
  <string>SDAgenda</string>
  <key>CFBundleExecutable</key>
  <string>sd-agenda</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSCalendarsFullAccessUsageDescription</key>
  <string>streaming-deck이 다음 미팅을 Stream Deck 키에 표시합니다.</string>
</dict>
</plist>
